<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/style.css">
		<title>EMPRUNTS | modification</title>
	</head>
	
	<body>
		<div th:insert="fragments/header.html :: header"></div>
		
		<h2>Modifiez un emprunt existant</h2>
		
		<div class="content">
			<div class="content-table">
				<form th:action="@{/emprunts/{id}/update(id=${empruntToUpdate.id})}" th:object="${empruntToUpdate}" method="post">
					 
					<label for="client">CLIENT</label><br>
					<select id="client" class="field" th:field="*{clientEmprunteur}">
						<option  th:each="c : ${listeClients}" th:text="${c.nom} + ' ' + ${c.prenom}" th:value="${c.id}"></option>
					</select><br><br>
					
					
					<label for="dateDebut">DATE EMPRUNT</label><br>
					<input type="date" id="dateDebut" class="field" th:field="*{datedebut}">
					<span th:if="${#fields.hasErrors('datedebut')}" th:errors="*{datedebut}"></span>
					<br><br>
					
					<label for="dateFin">DATE REMISE</label><br>
					<input type="date" id="dateFin" class="field" th:field="*{datefin}"><br><br>
					
					<label for="delai">DÉLAI</label><br>
					<input type="number" id="delai" class="field" th:field="*{delai}" th:value="2">
					<span th:if="${#fields.hasErrors('delai')}" th:errors="*{delai}"></span>
					<br><br>
					
					 
					<label for="livres">LIVRES EMPRUNTÉS</label><br>
					<div th:each="l : ${listeLivres}">
					<input type="checkbox"
						th:text="${l.titre} + ' (' + ${l.auteur} + ')'"
						th:value="${l.id}"
						th:field="*{livresEmpruntes}"
						class="checkboxes" 
					/>
					</div>
					
					<br><br>
		
					<input class="btn" type="submit" value="Modifier"/>
				</form>
				
				<a class="bottom-btn" th:href="@{/emprunts/all}">Retour</a>
			</div>
		</div>
	</body>
</html>