<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/style.css">
		<title>CLIENTS | modification</title>
	</head>
	
	<body>
		<div th:insert="fragments/header.html :: header"></div>
		
		<h2>Modifier un client</h2>
		
		<div class="content">
			<div class="content-table">
				<form th:action="@{/clients/{id}/update(id=${clientToUpdate.id})}"
					th:object="${clientToUpdate}"
					method="post">
					
					<label for="nom">NOM</label><br>
					<input type="text" id="nom" class="field" th:field="*{nom}"/>
					<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
					<br><br>
					
					<label for="prenom">PRÉNOM</label><br>
					<input type="text" id="prenom" class="field" th:field="*{prenom}"/>
					<span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
					<br><br>
					
					<input class="btn" type="submit" value="Modifier"/>
				</form>

				<a class="bottom-btn" th:href="@{/clients/all}">Retour</a>

			</div>
		</div>			
		
	</body>
</html>