<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/style.css">
		<title>CLIENTS | gestion</title>
	</head>
	
	<body>
		<div th:insert="fragments/header.html :: header"></div>
		
		<h2>Liste des clients</h2>
		
		<div class="content">
			<div class="content-table">
				<table>
					<tr>
						<th>NOM</th><th>PRÉNOM</th><th>EMPRUNTS</th><th></th>
					</tr>
					<tr th:each="c : ${listeClients}">
						<td th:text="${c.nom}"></td>	
						<td th:text=${c.prenom}></td>
						<td>
							<ul class="emprunt-client" th:each="e : ${c.getEmpruntsDuClient()}">
								<li class="dates-emprunts" th:text="${e.datedebut} + ' / ' + ${e.datefin}">
								</li>
								<li>	
									<ul th:each="l : ${e.getLivresEmpruntes()}">
										<li class="livres-emprunts" th:text="${l.titre}"></li>
									</ul>
								</li>
							</ul>
						</td>
						<td>
							<a th:href="@{/clients/{id}/update(id=${c.id})}">Modifier</a> | 
							<a th:href="@{/clients/{id}/delete(id=${c.id})}">Supprimer</a>
						</td>
					</tr>
				</table>
				
				<a class="bottom-btn" th:href="@{/clients/create}">Ajouter un nouveau client</a>
			</div>
		</div>
	</body>
</html>