<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>CLIENTS | gestion</title>
	</head>
	
	<body>
		<div th:insert="fragments/header.html :: header"></div>
		
			<table>
				<tr>
					<td>NOM</td><td>PRÉNOM</td><td>EMPRUNTS</td><td></td>
				</tr>
				<tr th:each="c : ${listeClients}">
					<td th:text="${c.nom}"></td>	
					<td th:text=${c.prenom}></td>
					<td>
						<ul th:each="e : ${c.getEmpruntsDuClient()}">
							<li th:text="${e.datedebut} + ' / ' + ${e.datefin}">
							</li>
							<li>	
								<ul th:each="l : ${e.getLivresEmpruntes()}">
									<li th:text="${l.titre}"></li>
								</ul>
							</li>
						</ul>
					</td>
					<td>
						<a th:href="@{/clients/{id}/update(id=${c.id})}">Modifier</a> | 
						<a th:href="@{/clients/{id}/delete(id=${c.id})}">Supprimer</a>
					</td>
				</tr>
			</table>
			<br><br>
			<a th:href="@{/clients/create}">Ajouter un nouveau client</a>
	</body>
</html>