<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/style.css">
		<title>HOME</title>
	</head>
	
	<body>
		<div th:insert="fragments/header.html :: header"></div>
		
		<h2>Bienvenue sur le site de notre bibliothèque !!</h2>
		
		<div class="illustration">
			<img alt="img_bibli.jpg" src="/img_bibli.jpg" class="img_bibli">
		</div>
		
		<div class="home-content">
			<a th:href=@{/livres/all}>Gestion des livres</a>
			<a th:href=@{/clients/all}>Gestion des clients</a>
			<a th:href=@{/emprunts/all}>Gestion des emprunts</a>
		</div>

	</body>
</html>